/* #d1, #d2{
    background: blue;
    width: 50%;
    box-sizing: border-box;
}
#d1{ */
    /* margin: 10%; */
    /* padding: 5%; */
    /* border: solid 15px red; */
/* }
#d2{
    width: 50%; */
    /* margin: 10%; */
    /* height: 500px;
} */

/* section{
    background-color: black;
    width: 100%;
    height: 200px;
} */

/* #d1{
    margin: 10% auto;
    width: 50%;
    background-color: burlywood; */
    /* height: fit-content; */
    /* 
    height: 100px;
    line-height: 25px; */
    /* visible hidden  */
    /* overflow: scroll; */
    /* overflow-x: hidden;
    overflow-y: scroll; */
    /* overflow: hidden; */
/* } */
/* #d2{
    min-height: 100px;
    max-height: 200px;
    margin: 10% auto;
    width: 50%;
    background-color: burlywood;
} */
/* body{
    height: 3000px;
}
#d2{ */
    /* background-color: black; */
    /* height: 100vh; */
    /* height: calc(100vh - 200px); */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  font-family: "Roboto", sans-serif;
}

/* .bg-light{
    background-color: #F3EBFF;
}
.text-purple{
    color: #6941C6;
}
.dark-purple{
    color: #42307D;
}
.text-center{
    text-align: center;
}
.text-muted{
    color: grey;
}
.m-y{
    margin-top: 1%;
    margin-bottom:1%
}
.pill-title{
    width: fit-content;
    margin: 3% auto 1%;
    padding: 0.35% 0.9%;
    border-radius: 1rem;
}
.margin-auto{
    margin: 2% auto   ;
    width: 20%;
}
input{
    border: solid gainsboro 1px;
    padding: 3%;
    border-radius: 5px;
    width: 100%;
}

.all-cards{
    margin: 5% auto;
    width: 90%;
}

.card{
    width:30%;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(235, 234, 234);
    padding: 2%;
    display: inline-block;
    margin-right: 1%;
}
.card img{ 
    width: 100%;
}
.my-5{
    margin-top:5%;
    margin-bottom: 5%;
}
.card h2{
    font-size: 2rem;
}
.icon{
    width: 3rem !important;;
    height: 3rem;
    border-radius: 50%;
} */

.container{
    width: 90%;
    margin-left:auto ;
    margin-right: auto;
}
.my-5{
    margin-top: 5%;
    margin-bottom: 5%;
}
.inline-block{
    display: inline-block;
    vertical-align: top;
}
.w-20{
    width: 20%;
}
.w-40{
    width: 39.5%;
}
.oragnge-bg{
    background-color: #ff8b38;
}
.dark-gary-bg{
    background-color: #333333;
}
.text-white{
    color:white
}
.text-muted{
    color: darkgray;
}
.text-bold{
    font-weight: bold;
}
.tabs button{
    display: block;
    width: 45%;
    padding:18% 0%;
    border: solid white 0.5px;
    outline: none;
    text-transform: uppercase;
    margin: 0 auto;
}

.boder-top-radius{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.boder-bottom-radius{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
p{
    text-align: justify;
}

.btn{
    border: none;
    padding: 2% 7%;
    border-radius: 5px;
    font-size: 1.1rem;
}
h2{
    margin-top: 2%;
    margin-bottom: 10%;
}
img{
      /* -webkit-box-reflect: below; */
    mask-image: radial-gradient(circle at center, white, transparent 100%);
    margin: 0 auto;
}
.img-fluid{
    max-width: 100%;
}
.text-center{
    text-align: center;
}